<!DOCTYPE html>
<html>
    <head>
        <title>Virtual Store</title>
    </head>
    <body>
        <h1>Virtual Store</h1>
        <p>Welcome to the virtual store!</p>
        <a href="/items">Items</a>
        <p>Categories</p>
        <ul>
            <li>
                <a href="/items?category=laptops">Laptops</a>
            </li>
            <li>
                <a href="/items?category=PC Hardware">PC Hardware</a>
            </li>
        </ul>
    </body>
</html>