<!DOCTYPE html>
<html>
    <head>
        <title>
            Items - Virtual Store
        </title>
    </head>
    <body>
        <h1>Item</h1>
        <ul>
            <% items.map( item => { %>
                <p> <%= item.name %> - $<%= (item.price)/100 %> </p>
                <button><a href='/items'>Back</a></button>
                <button><a href='/edit?itemId=<%= item.id %>'>Edit</a></button>
            <% }) %>
        </ul>
    </body>
</html>